.dropDown__Container {
    width: 400px;
    position: relative;
    box-sizing: border-box;
    border: 1px solid rgb(200,200,200);
    padding: 10px;
}

.dropDown__selectedItems {
    position: relative;
    display: inline-block;
}

.dropDown__input {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    font-size: 11pt;
    border: solid 0;
    background: transparent;
}
.dropDown__input:focus{
    outline: 0;
}
.dropDown__list {
    position: absolute;
    background-color: rgb(240, 240, 240);
    background-color: rgba(240, 240, 240, 0.65);
    border: solid 1px rgba(128, 128, 128, 0.5);
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    top: 38px;
    left: 0;
    cursor: pointer;
}
.dropDown__list._hidden {
    display: none;
}

.dropDown__listItem {
    padding: 5px;
    border-bottom: solid 1px rgb(110, 110, 110);
    border-bottom: solid 1px rgba(110, 110, 110, 0.5);
}

.dropDown__listItem:hover {
    background-color: rgb(200, 200, 200);
    background-color: rgba(200, 200, 200, 0.9);
}

.dropDown__itemPhoto {
    height: 40px;
    display: inline-block;
}

.dropDown__itemText {
    display: inline-block;
    left: 100px;
    position: absolute;
}
